/*
*
* File name   : common
* File type   : CSS
* Dependancy  : none
* Library     : none
* Purpose     : Styling Common things
* Common      : all pages basic layout
* First Author: Geon-Ho Han
* Contact     : hrg921@gmail.com, Kakao Talk: hrg921, @풀스택개발자
* Last Fixer  : Geon-Ho Han
* First-Date  : 9-28 2015
* Last-Date   : 9-28 2015
* Version     : v0.0.1
*
*/

/* ---------------------- Basic Common Configuration Start ---------------------- */

/* ---------------------- Fonts Configuration Start ---------------------- */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* Regular 400, Bold 700, ExtraBold 800 */

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* Thin 100, Light 300, Regular 400, Medium 500, Bold 700, Black 900 */

@font-face {
    font-family: 'nanumbarunpen';
    src: url('../font/nanumbarunpenb.eot');
    src: url('../font/nanumbarunpenb.eot?#iefix') format('embedded-opentype'),
         url('../font/nanumbarunpenb.woff2') format('woff2'),
         url('../font/nanumbarunpenb.woff') format('woff'),
         url('../font/nanumbarunpenb.ttf') format('truetype'),
         url('../font/nanumbarunpenb.svg#nanumbarunpenb') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nanumbarunpen';
    src: url('../font/nanumbarunpenr.eot');
    src: url('../font/nanumbarunpenr.eot?#iefix') format('embedded-opentype'),
         url('../font/nanumbarunpenr.woff2') format('woff2'),
         url('../font/nanumbarunpenr.woff') format('woff'),
         url('../font/nanumbarunpenr.ttf') format('truetype'),
         url('../font/nanumbarunpenr.svg#nanumbarunpenr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanummyeongjoregular';
    src: url('../font/nanummyeongjo.eot');
    src: url('nanummyeongjo.eot?#iefix') format('embedded-opentype'),
         url('nanummyeongjo.woff2') format('woff2'),
         url('nanummyeongjo.woff') format('woff'),
         url('nanummyeongjo.ttf') format('truetype'),
         url('nanummyeongjo.svg#nanummyeongjoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-thin';
    src: url('notokr-thin.eot');
    src: url('notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('notokr-thin.woff2') format('woff2'),
         url('notokr-thin.woff') format('woff'),
         url('notokr-thin.ttf') format('truetype'),
         url('notokr-thin.svg#notokr-thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notokr-bold';
    src: url('notokr-bold.eot');
    src: url('notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('notokr-bold.woff2') format('woff2'),
         url('notokr-bold.woff') format('woff'),
         url('notokr-bold.ttf') format('truetype'),
         url('notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ---------------------- Fonts Configuration End ---------------------- */

/* ---------------------- Basic Configuration Start ---------------------- */

body, h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

html, body, header {
  width: 100%;
}

body {
  background-color: white;
}

header {
  background-color: #25323F;
}

.bold {
  font-weight: bold;
}

.vertical_align_middle {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* ---------------------- Basic Configuration End ---------------------- */

/* ---------------------- Basic Common Configuration End ---------------------- */

/* ---------------------- Responsive Common Properties Start ---------------------- */

/* ---------------------- 1. Phone Style Start ---------------------- */

/* ---------------------- 1-1. Phone Portrait Style Start ---------------------- */

/* ---------------------- Phone Portrait Style 320px ~ 600px ---------------------- */

@media screen and (min-width:320px) { }

/* ---------------------- 1-1. Phone Portrait Style End ---------------------- */

/* ---------------------- 1-2. Phone Landscape Style Start ---------------------- */

/* ---------------------- Phone Landscape Style 480px ~ 800px ---------------------- */

@media (min-width:480px) and (orientation:landscape) { }

/* ---------------------- 1-2. Phone Landscape Style End ---------------------- */

/* ---------------------- 1. Phone Style End ---------------------- */

/* ---------------------- 2. Tablet Style Start ---------------------- */

/* ---------------------- 2-1. Tablet Portrait Style Start ---------------------- */

/* ---------------------- Tablet Portrait Style 600px ~ 1025px ---------------------- */

@media (min-width:600px) and (orientation:portrait) { }

/* ---------------------- 2-1. Tablet Portrait Style End ---------------------- */

/* ---------------------- 2-2. Tablet Landscape Style Start ---------------------- */

/* ---------------------- Tablet Landscape Style 800px ~ 1280px ---------------------- */

@media (min-width:801px) and (orientation:landscape) { }

/* ---------------------- 2-2. Tablet Landscape Style End ---------------------- */

/* ---------------------- 2. Tablet Style End ---------------------- */

/* ---------------------- 3. Desktop Style Start ---------------------- */

/* ---------------------- Desktop Style 1280px ~ landscape ---------------------- */

@media (min-width:1281px) and (orientation:landscape) {

  header {
    height: 80px;
    margin-bottom: 3px;
  }

  .container {
    width: 1280px;
    margin: auto;
    height: 100%;
  }

  #header_container {
    width: 1240px;
    margin: auto;
    height: 100%;
  }

  #header_logo_container {
    float: left;
    height: 100%;
  }

  #header_logo {
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    border-bottom: 1px solid white;
  }

  #header_logo > h1 {
    font-family: 'nanumbarunpen', sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: white;
  }

  #header_menu_container {
    float: right;
    height: 100%;
  }

  .header_menu {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
  }

  .header_menu:hover {
    background-color: white;
  }

  .header_menu:hover > p {
    color: #3D3D3D;
  }

  .header_menu > p {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    color: white;
    line-height: 40px;
  }

  #header_menu_first {
    margin-right: 20px;
  }

  #copyright_hr {
    margin-bottom: 0;
  }

  footer {
    width: 100%;
    height: 100px;
    text-align: center;
  }

  #footer_wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 1240px;
    height: 60px;
  }

  #footer_wrapper > div {
    display: inline-block;
    vertical-align: middle;
  }

  #footer_image {
    height: 50px;
    vertical-align: middle;
    float: left;
  }

  #copyright {
    vertical-align: middle;
    display: inline;
    color: #c4c4c4;
    line-height: 50px;
    margin-left: 20px;
  }

}

/* ---------------------- 3. Desktop Style End ---------------------- */

/* ---------------------- Responsive Common Properties End ---------------------- */
