<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeHouse</title>
  <script src="../static/js/config.js"></script>
  <!-- Libraries -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/code_storage.css">
  <!-- Scripts -->
  <script src="../static/js/code_storage/sessionCheck.js"></script>
  <script src="../static/js/code_storage/user_info.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <div id="header_container">
        <div id="header_logo_container"><span class="vertical_align_middle"></span><a href="/"><div id="header_logo"><h1><span class="bold">CODE</span> HOUSE</h1></div></a></div>
        <div id="header_menu_container">
          <span class="vertical_align_middle"></span>
          <div id="header_user_image"></div>
          <span class="vertical_align_middle"></span>
          <div id="header_user_info">
            <h1 id="header_user_name"></h1>
            <p id="header_user_job"></p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <article>
      <div id="article_title_kr"><h1>코드창고</h1></div>
      <div id="article_title_eng"><h2>Code Storage</h2></div>
      <input id="search_keyword" type="text">
      <select id="search_option">
        <option>None</option>
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="JS">JS</option>
      </select>
      <div id="search_button"><p>Search</p></div>
    </article>
    <div class="container">
      <section>
        <div id="section_column1">
          <div class="code">
            <div class="code_maker">
              <img src="../static/img/CodeHouse_LOGO.svg" alt="">
              <div class="code_maker_info">
                <h1>hrg921</h1>
              </div>
            </div>
            <div class="code_title">
              <span class="vertical_align_middle"></span>
              <h1>&lt;!DOCTYPE html&gt;</h1>
            </div>
            <div class="comment_and_recommend">
              <div class="recommend">
                <span class="vertical_align_middle"></span>
                <img src="../static/img/code_storage/smile_icon.svg" alt="">
                <p>3</p>
              </div>
              <div class="comment">
                <span class="vertical_align_middle"></span>
                <img src="../static/img/code_storage/comment_icon.svg" alt="">
                <p>5</p>
              </div>
            </div>
          </div>
          <div class="code"></div>
        </div>
        <div id="section_column2">
          <div class="code"></div>
          <div class="code"></div>
        </div>
        <div id="section_column3">
          <div class="code"></div>
          <div class="code"></div>
        </div>
      </section>
    </div>
  </section>
  <footer>
    <div class="container">
      <span class="vertical_align_middle"></span>
      <div id="footer_wrapper">
        <span class="vertical_align_middle"></span>
        <div>
          <img id="footer_image" src="../static/img/CodeHouse_LOGO_e1e1e1.svg" alt="">
          <p id="copyright">Made in SEOUL © 2015 CodeHouse</p>
        </div>
      </div>
    </div>
  </footer>
  <div id="popup">

  </div>
</body>
</html>
