<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeHouse</title>
  <script src="../static/js/config.js"></script>
  <!-- Libraries -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/course_overview.css">
  <!-- Scripts -->
</head>
<body>
  <header>
    <div class="container">
      <div id="header_container">
        <div id="header_logo_container"><span class="vertical_align_middle"></span><a href="/"><div id="header_logo"><h1><span class="bold">CODE</span> HOUSE</h1></div></a></div>
        <div id="header_menu_container">
          <a href="/storage"><span class="vertical_align_middle"></span><div class="header_menu"><p>코드창고 입장</p></div></a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <section>
      <div id="section_title"><h1>코스 구경하기</h1></div>
      <article id="html" class="course">
        <div class="course_logo"><span class="vertical_align_middle"></span><img src="../static/img/course_overview/HTML5_Logo.svg" alt=""></div>
        <div class="course_desc"><span class="vertical_align_middle"></span><div class="course_real_desc"><p>HTML은 인터넷상에서 정보를 표현하기 위해 고안된 문서표준이였습니다. <br>하지만 시간이 지남에 따라 인터넷상에서 하고 싶은 일, 해야 할 일들이
          늘어났고 <br>그에 따라 HTML의 역할도 점점 커져 갔습니다. <br> 우리는 이 HTML이라는 웹 문서를 배움으로써 우리의 선배들이 만들어 놓은 효율적으로 정보를 표현하기 위한 방법들을 살펴봄으로써 프로그래밍의 기본
        마인드를 배울 것입니다.</p></div></div>
        <a href="/study/html/1"><div class="course_enter"><span class="vertical_align_middle"></span><div><img src="../static/img/rightarrow.svg" alt=""><p>공부하러가기</p></div></div></a>
      </article>
      <article id="css" class="course">
        <div class="course_logo"><span class="vertical_align_middle"></span><img src="../static/img/course_overview/CSS3_Logo.svg" alt=""></div>
        <div class="course_desc"><span class="vertical_align_middle"></span><div class="course_real_desc"><p>CSS3는 HTML이라는 웹 문서를 이쁘게 하기 위해 태어났습니다. <br>21세기가 되면서 사람들은 단순 정보에만 집중하기 보다<br>시각적인 요소에도 집중하기 시작했고<br>그에 따라 CSS의 역할이 늘어났습니다. <br>우리는 이 CSS3를 배우면서 프로그래밍에서의 기본 마인드와 <br>디자인의 구현을 배웁니다.</p></div></div>
        <a href="/study/css/1"><div class="course_enter"><span class="vertical_align_middle"></span><div><img id="css3_image" src="../static/img/rightarrow.svg" alt=""><p>공부하러가기</p></div></div></a>
      </article>
    </section>
  </div>
  <footer>
    <div class="container">
      <span class="vertical_align_middle"></span>
      <div id="footer_wrapper">
        <span class="vertical_align_middle"></span>
        <div>
          <img id="footer_image" src="../static/img/CodeHouse_LOGO_e1e1e1.svg" alt="">
          <p id="copyright">Made in SEOUL © 2015 CodeHouse</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
