<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeHouse</title>
  <script src="../static/js/config.js"></script>
  <!-- Libraries -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/page_intro.css">
  <!-- Scripts -->
</head>
<body>
  <header>
    <div class="container">
      <div id="header_container">
        <div id="header_logo_container"><span class="vertical_align_middle"></span><a href="/"><div id="header_logo"><h1><span class="bold">CODE</span> HOUSE</h1></div></a></div>
        <div id="header_menu_container">
          <span class="vertical_align_middle"></span><div class="header_menu" id="header_menu_first"><p>과정 구경하기</p></div>
          <span class="vertical_align_middle"></span><div class="header_menu"><p>코드창고 입장</p></div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <article></article>
    </div>
  </section>
  <hr id="copyright_hr">
  <footer>
    <div class="container">
      <span class="vertical_align_middle"></span>
      <div id="footer_wrapper">
        <span class="vertical_align_middle"></span>
        <div>
          <img id="footer_image" src="../static/img/CodeHouse_LOGO_e1e1e1.svg" alt="">
          <p id="copyright">Made in SEOUL © 2015 CodeHouse</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
