<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeHouse</title>
  <script src="../static/js/config.js"></script>
  <!-- Libraries -->
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/User_Info_Edit.css">
  <!-- Scripts -->
  <script src="../static/js/User_Info_Edit_html/css_support.js"></script>
  <script src="../static/js/User_Info_Edit_html/edit_info.js"></script>
  <script src="../static/js/user_info.js"></script>
</head>
<body>
  <header>
    <div class="container">
      <div id="header_container">
        <div id="header_logo_container"><span class="vertical_align_middle"></span><a href="/"><div id="header_logo"><h1><span class="bold">CODE</span> HOUSE</h1></div></a></div>
        <div id="header_menu_container">
          <span class="vertical_align_middle"></span><div class="header_menu" id="header_menu_first"><p>과정 구경하기</p></div>
          <span class="vertical_align_middle"></span><div class="header_menu"><p>코드창고 입장</p></div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <nav>
      <a href="/my_storage"><div class="nav_menu_column"><p>내 코드창고</p></div></a>
      <div class="nav_profile_column">
        <div id="nav_profile_container">
          <div id="nav_image_container">
            <span class="vertical_align_middle"></span><div id="nav_image"></div>
          </div>
          <span class="vertical_align_middle"></span>
          <div id="nav_profile_desc_container">
            <span class="vertical_align_middle"></span>
            <div id="nav_profile_desc">
              <h1></h1>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" onclick="logout();"><div class="nav_menu_column"><p>로그아웃</p></div></a>
      <script src="../static/js/User_Info_Edit_html/logout.js"></script>
    </nav>
    <section>
      <span class="vertical_align_middle"></span>
      <article>
        <div id="user_profile_image"><p>수정/삭제</p></div>
        <input type="password" id="password" placeholder="비밀번호">
        <input type="password" id="password_rewrite" placeholder="비밀번호 확인">
        <a href="#"><div id="ok_button"><p>수정완료</p></div></a>
      </article>
    </section>
  </div>
  <hr id="copyright_hr">
  <footer>
    <div class="container">
      <span class="vertical_align_middle"></span>
      <div id="footer_wrapper">
        <span class="vertical_align_middle"></span>
        <div>
          <img id="footer_image" src="../static/img/CodeHouse_LOGO_e1e1e1.svg" alt="">
          <p id="copyright">Made in SEOUL © 2015 CodeHouse</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
<!-- User_Info_Edit  -->
